<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <h1>
        <%= link_to "Harmonigram", root_path, :id => "logo" %>
      </h1>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Help", "#" %></li>
    
          <% if user_signed_in? %>
            <li><p class='navbar-text'>Signed in as <%= current_user.email %> <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></p></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
