<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <p class="pull-left logo">
        <%= image_tag("logo_small.png", :alt => "TECHDEBTOR") %>
      </p>
      <nav>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to "CHART", "#" %></li>
            <li><%= link_to "TEAM", "#" %></li>
            <li><%= link_to "ME", "#" %></li>
            <li><form class="form-search">
  <input type="text" class="input-medium search-query">
  <button type="submit" class="btn">+ Add Project</button>
</form></li>
            <li><p class='navbar-text'><%= link_to "SIGN OUT", destroy_user_session_path, :method => 'delete' %></p></li>
          <% else %>
            <li><%= link_to "SIGN IN", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
